.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

#qrCard {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    margin: 230px 0;
    padding: 16px;
    width: 320px;
}

#textContainer {
    padding: 0 16px 16px 16px;
}

body {
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    font-family: "Outfit",sans-serif;
    justify-content: center;
}

img {
    border-radius: 10px;
    height: auto;
    width: 320px;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}

p {
    color: hsl(216, 15%, 48%);
    font-size: 17px;
    text-align: center;
}